#POSTRGES
POSTRGES_VERSION=18
POSTGRES_DB=hephaestus
POSTGRES_USER=hephaestus
POSTGRES_PASSWORD=hephaestus
POSTGRES_PORT=5432

#MINIO
MINIO_VERSION=latest
MINIO_ROOT_USER=hephaestus
MINIO_ROOT_PASSWORD=hephaestus
MINIO_PORT=9000
MINIO_UI_PORT=9001

#MINECRAFT PLUGIN
HEPHAESTUS_PLUGIN_KEY=uRG/74oCPdE/IbrQFgW84ZdNhW6CwlfUErHeQwN/I5s=

#JWT
# Generate a strong random value for production
JWT_SECRET=40+7M0/yHxyr+oc8f8bvouUfxqBagggEFohoxaqBAr4=

#DEFAULT ADMIN API CREDENTIALS
HEPHAESTUS_ADMIN_USERNAME=admin
HEPHAESTUS_ADMIN_PASSWORD=admin123

#MINECRAFT
MINECRAFT_VERSION=26.2
MINECRAFT_MEMORY=2G
MINECRAFT_PORT=25565